{% extends 'selfcenterbase.html' %}
    {% block selfcenterbody %}
        <div class="row featurette col-md-11">

                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <br>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        {# 个人信息 #}

    {% endblock %}

    {# 希望点击不同的右边显示不同的页面#}



