{% extends "base.html" %}
{% block title %}
    个人中心
{% endblock %}

{% block head %}

    <style>
        .helloTop {
            background-image: url('{{ static('img/S9_1.jpg') }}');
            -webkit-backdrop-filter: blur(10px);
            height: 400px;
            background-position: center bottom;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            /*{#-ms-background-size: cover;#}*/
        }

        .myCenter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .myTermBlock {
            height: 50px;
        }

    </style>


{% endblock %}

{% block content %}
    {#

#}
    <div class="jumbotron helloTop">
        <div class="text-center">
            <img src="{{ static(current_user.header_addr) }}" alt="..." class="img-circle">
        </div>

    </div>


    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('front.selfcenter', user_id=current_user.id) }}">个人信息</a></li>
            <li class="list-group-item"><a href="{{ url_for('front.cms_article') }}">文章管理</a></li>
            <li class="list-group-item"><a href="{{ url_for('front.cms_comment') }}">评论管理</a></li>
            {% if current_user.admin %}
                <li class="list-group-item"><a href="{{ url_for('front.cms_user') }}" class="text-primary">用户管理</a></li>
                <li class="list-group-item"><a href="{{ url_for('front.cms_team') }}" class="text-primary">战队管理</a></li>
                <li class="list-group-item"><a href="{{ url_for('front.cms_game') }}" class="text-primary">赛程管理</a></li>
            {% endif %}
        </ul>
    </div><!-- /.blog-sidebar -->

    <div class="row col-md-8">
        {% block selfcenterbody %}
        {% endblock %}
    </div>

    {# 希望点击不同的右边显示不同的页面#}


{% endblock %}


